				<div id="options">
					<a href="/?num=1"><button class="btn btn-outline-primary btn-sm">&#8676;</button></a>
					<a href="/?num={{not_the_last}}"><button class="btn btn-outline-primary">&larr;</button></a>
					<a href="/random" role="button"><button class="btn btn-primary">Random</button></a>
					<a href="/{{its_the_last}}"><button class="btn btn-outline-primary">&rarr;</button></a>
					<a href="/?num={{numcomic}}"><button class="btn btn-outline-primary btn-sm">&#8677;</button></a>
				</div>