{% include "includes/header.html" %}
		<main>
			<h2><b>{{title}}</b> (#{{thiscomic}})</h2>
{% include "includes/buttons.html" %}
			<img id="comic" src="{{comic}}" alt="{{alt}}">
			<!--<p>
				Embed this: https://xkcd.com/numcomic (xkcd.com)/numcomic (NEWxkcd)
			</p>-->
{% include "includes/buttons.html" %}
			<br>
				<!--<b>Permanent URL:</b> https://xkcd.l64.repl.co/?num={{thiscomic}}-->
			<p>
				<b>Date:</b> {{thedate}}<br>
				<b>Permanent URL:</b> https://xkcd.l64.repl.co/?num={{thiscomic}}<br>
				<b>XKCD URL:</b> https://xkcd.com/{{thiscomic}}/<br>
				<b>Image URL:</b> {{comic}}
			</p>
		</main>
{% include "includes/footer.html" %}